extends layout

block content
  link(rel='stylesheet', href='/stylesheets/main.css')
  link(rel="stylesheet" href="/stylesheets/font/css/font-awesome.min.css")
  script(src="https://code.jquery.com/jquery-3.5.1.min.js")
  script(src="/javascripts/ajaxRequest.js")
  header 
    a(href='/profile') Profile
    h1 Message Board
    a(href="/logout") Log out 
  div
    if page > 1
      a(id="prev" href='/main?page='+(page-1)) 
        i(class="fa fa-3x fa-arrow-left" aria-hidden="true") 
  div
    div(id="top")
      p(id="topic") Topic Name 
    - var c = 0;
    
    each msg in messages
      ul(class='msgbox') 
        li(class="name") #{msg.author}:
        li(class="msg") #{msg.message} 
          
    //- input(id = "usrname",type="text",name="username",placeholder="username")
    //- p(id="username") #{username}
    textarea(name="message",id="message" rows="2",placeholder="enter message here")
    | 
    button(id="send",onclick=`sendMessage("${username}","/main","${limit}")`) Send
  div  
    if page < max
      a(id="next",href="/main?page="+(Number(page)+1))
        i(class="fa fa-3x fa-arrow-right" aria-hidden="true") 