extends messageLayout

block library
    link(rel="stylesheet",href="/stylesheets/profile.css")
    script(src="https://code.jquery.com/jquery-3.5.1.min.js")
    script(src="/javascripts/profile.js")
block variables
    - var messages = messages
    - var page = page
    - var max = max
    - var url = url
    - var topics = []
block header
    header 
        a(href="/topics") Topics
        a(href="#",onclick=`changePasswd()`) Change Password
        h1 Profile Page
        a(href="#" onclick=`edit()` class="openform") Edit Info
        a(href="/logout") Log out 
    ul(id="box")
        li #{user.name}
        li #{user.email}
        li #{user.age} yrs
        li(id="id") #{user.age}
    h2 My Messages
block extra    
    div(id="formPasswd")
        h3 Change Password
        form(id="editPasswd" action='/editPasswd',method="post")
            input(type="password",name="current",placeholder="current password")
            input(type="password",name="new",placeholder="new password")
            input(type="password",name="newConfirm",placeholder="confirm password")
            input(id="passwdSubmit",type="button" onClick="test(0)" value="Submit")  
            p(hidden) InvalidPassword
            //- input(type="submit", hidden)
    div(id="formData")
        h3 Edit details
        form(id="editData" action="/editData",method="post")
            input(type="string",name="username",value=user.name,placeholder="enter username")
            input(type ="email",name="email",value=user.email,placeholder="name@email.com")
            input(type="number",name="age",value=user.age,placeholder="enter age")
            input(type="password",name="password",placeholder="enter password")
            input(type="button",onClick="test(1)",value="submit")
            p(hidden) Invalid Password
            //- input(type="submit", hidden) 
    div(id="shadow")
    
    